/*
 * Globals
 */


/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}


/*
 * Base structure
 */

body {
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.cover-container {
  max-width: 42em;
}


/*
 * Header
 */

h3{
  margin-bottom: 20vh;
}
input{
  margin: 24px 0;
  height: 50px;
}
button:hover{
  transform: scale(1.1) !important;
  transition: transform 0.4ss;
}
 .bd-placeholder-img {
   font-size: 1.125rem;
   text-anchor: middle;
   -webkit-user-select: none;
   -moz-user-select: none;
   user-select: none;
 }

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

marquee{
  width: 300px;
  margin: 10px auto;
  opacity: 0;
}

#fr{
  margin-top: 45px;
}
#fr, #en{
  font-size: 22px;
}